@import play.api.libs.json.JsValue
@(profile: JsValue)

@main("FarmDiagnostics - Dashboard") {
<link rel="stylesheet" media="all" href="@routes.Assets.versioned("stylesheets_dashboard/bootstrap.css")" />
<link rel="stylesheet" media="all" href="@routes.Assets.versioned("stylesheets_dashboard/style.css")" />

<div class="page-container">
  <div class="left-content">
    <div class="mother-grid-inner">
      <!--header start here-->
      <div class="header-main">
        <div class="header-left">
          <div class="logo-name">
             <h1>FarmDiagnostics</h1>
              <!--<img id="logo" src="" alt="Logo"/>-->

          </div>
          <!--search-box-->

          <div class="clearfix"> </div>
        </div>
        <div class="header-right">
          <div class="profile_details_left"><!--notifications of menu start -->
            <ul class="nofitications-dropdown">
              <li class="dropdown head-dpdn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="notification_header">
                      <h3>You have 3 new messages</h3>
                    </div>
                  </li>



                  <li>
                    <div class="notification_bottom">
                      <a href="#">See all messages</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown head-dpdn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="notification_header">
                      <h3>You have 3 new notification</h3>
                    </div>
                  </li>



                  <li>
                    <div class="notification_bottom">
                      <a href="#">See all notifications</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown head-dpdn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">9</span></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="notification_header">
                      <h3>You have 8 pending task</h3>
                    </div>
                  </li>



                  <li>
                    <div class="notification_bottom">
                      <a href="#">See all pending tasks</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="clearfix"> </div>
          </div>
          <!--notification menu end -->
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <div class="profile_img">
                    <span class="prfil-img"><img src="images/p1.png" alt=""> </span>
                    <div class="user-name">
                      <p>Welcome @((profile \ "name").as[String])</p>
                      <span>Administrator</span>
                    </div>
                    <i class="fa fa-angle-down lnr"></i>
                    <i class="fa fa-angle-up lnr"></i>
                    <div class="clearfix"></div>
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu">
                  <li> <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <!--heder end here-->
      <!-- script-for sticky-nav -->
      <script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop();
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });

		});
		</script>
      <!-- /script-for sticky-nav -->
      <!--inner block start here-->
      <div class="inner-block">
        <!--market updates updates-->
        <div class="market-updates">
          <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-1">
              <div class="col-md-8 market-update-left">
                <h3>83</h3>
                <h4>New farm devices</h4>
                <p>Start searching now</p>
              </div>
              <div class="col-md-4 market-update-right">
                <i class="fa fa-file-text-o"> </i>

              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
          <div class="col-md-4 market-update-gd">


            <div class="market-update-block clr-block-2">
              <div class="col-md-8 market-update-left">
                <h3>Diseas</h3>

              </div>

              <input type="file" name="picture" >

              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Start Prediction</button>

              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4><font color="black">RESULTS: </font></h4>
                    </div>
                    <div class="modal-body">
                      <p><font color="red">
                        <ul>
                          <li>Anaplasmosis</li>
                          <li>Avian Paramyxovirus Type 1</li>
                          <li>Cattle tick – Notify within 12 hours</li>
                          <li>Cysticercosis bovis (Taenia saginata)</li>
                          <li>Enzootic bovine leucosis</li>
                          <li>Pullorum disease (Salmonella pullorum) – Notify within 12 hours</li>
                          <li>Infectious laryngotracheitis – Notify within 12 hours</li>
                          <li>Swine brucellosis (Brucella suis) – Notify within 12 hours</li>
                          <li>Trichomoniasis</li>

                        </ul>
                       </font></p>
                      <hr />
                      <p><font color="black">
                         <h4>SUGGESTED THERAPIE:</h4>
                        <br>
                        <ul>
                          <li>Fasinex 240 24% Oral Suspension for Cattle - 5L</li>
                          <li>Animec Super Injection Solution - 500ml</li>
                          <li>Panacur 10% Oral Suspension</li>
                          <li>Zanil Fluke Drench - 5 Litres</li>
                        </ul>
                      </font></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Contact Vet</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Order Medicine</button>
                    </div>
                  </div>

                </div>
              </div>



              <div class="col-md-4 market-update-right">
              </div>
              <div class="clearfix"> </div>
            </div>


          </div>



          <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-3">
              <div class="col-md-8 market-update-left">
                <h3>23</h3>
                <h4>Crops Predictions</h4>
                <p>Go to Charts</p>
              </div>
              <div class="col-md-4 market-update-right">
                <i class="fa fa-envelope-o"> </i>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>







      </div>
      <!--inner block end here-->
      <!--copy rights start here-->
      <div class="copyrights">
        <p>© 2018 FarmDiagnostics. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
      </div>
      <!--COPY rights end here-->
    </div>
  </div>
  <!--slider menu-->
  <div class="sidebar-menu">
    <div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span>
      <!--<img id="logo" src="" alt="Logo"/>-->
    </a> </div>
    <div class="menu">
      <ul id="menu" >
        <li id="menu-home" ><a href=""><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>


        <li><a href=""><i class="fa fa-map-marker"></i><span>Maps</span></a></li>


        <li><a href=""><i class="fa fa-bar-chart"></i><span>Charts</span></a></li>



      </ul>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!--slide bar menu end here-->
<script type="text/javascript">
var toggle = true;

$(".sidebar-icon").click(function() {
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }
                toggle = !toggle;
            });
</script>
}
